<section class="block block-feature-2" id="{{ section.sektionens_id }}">
  <div class="container">
    <div class="columns">
      <div class="column media">
          {% if section.media_type and section.media_type == "image" %}
          <img src="{{ section.media.image | relative_url }}" alt="{{ section.media.alt_text }}">
        {% else %}
          <video id="{{ section.video_id }}" width="400" autoplay loop>
            <source src="{{ section.video-url }}" type="video/mp4">
            Your browser does not support HTML5 video.
          </video>
          <button class="play-btn" onclick="playPause{{ section.video_id }}()">
            <img src="/uploads/2018/08/15/baseline_play_circle_filled_white_48dp.png"/>
          </button>
        {% endif %}
      </div>
      <div class="column text">
          <h2><span class="light">{{ section.headline }}</span></h2>
          <p>{{ section.content }}</p>
      </div>  
    </div>
  </div>
</section>

<script> 
var myVideo{{ section.video_id }} = document.getElementById("{{ section.video_id }}"); 
function playPause{{ section.video_id }}() { 
    if (myVideo{{ section.video_id }}.paused) 
        myVideo{{ section.video_id }}.play(); 
    else 
        myVideo{{ section.video_id }}.pause(); 
} 
</script> 