<section class="block block-feature-2" id="{{ section.sektionens_id }}">
  <div class="container">
    <div class="columns">
      <div class="column media">
          {% if section.media_type and section.media_type == "image" %}
          <img src="{{ section.media.image | relative_url }}" alt="{{ section.media.alt_text }}">
        {% else %}
          <h2>test</h2>
        {% endif %}
      </div>
      <div class="column text">
          <h2><span class="light">{{ section.headline }}</span></h2>
          <p>{{ section.content }}</p>
      </div>  
    </div>
  </div>
</section>