<section class="block block-hero-3">
  <iframe src="{{ section.url }}" id="iframe-header"></iframe>
  <button id="fullScreen">Open in fullscreen</button>
  <script>
    var element = document.getElementById('iframe-header');
    document.getElementById('fullScreen').addEventListener('click', function() {
      if (BigScreen.enabled) {
        BigScreen.request(element, onEnter, onExit, onError);
        // You could also use .toggle(element, onEnter, onExit, onError)
      }
      else {
        // fallback for browsers that don't support full screen
      }
    }, false);
  </script>
  <div class="helper-overlay">
    <h1><strong>Kik rundt</strong><br>
    <span class="light">med musen</span></h1>
    <div class="arrow-left icon"></div>
    </div>
</section>