.button {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.185);
}

@media screen and (min-width: 700px) {
    .block-hero-3 {
        padding: 0;
    }
}
.block-hero-3 {
        padding: 0;
        position: relative;
        overflow: hidden;
        height: 500px;
}
.block-hero-3 iframe {
    width: 100%;
    height: 500px;
    border: 0;
}
.block-header-2 {
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.066);
}
.block-hero-3 .helper-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 200px;
    padding: 64px 32px;
    padding: 4rem 2rem;
}
@media screen and (min-width: 700px) {
    .block-hero-3 .helper-overlay {
        padding: 6rem 4rem;
    }
}
.block-hero-3 .helper-overlay h1 {
    color: white;
    text-align: right;
    position: relative;
}
.block-hero-3 .helper-overlay h1 {
    animation-name: helper-fade;
    animation-duration: 3s;
}
@keyframes helper-fade {
    0% {margin-top: 0;}
    80% {margin-top: 0;}
    100% {margin-top: -100%;}
}
.block-hero-3 .helper-overlay {
    animation-name: bg-fade;
    animation-duration: 3s;
}
@keyframes bg-fade {
    0% {background-color: #ffcb3cea; top: 0;}
    80% {background-color: #ffcb3cea; top: 0;}
    100% {background-color: transparent; top: -100%;}
}
.arrow-left.icon {
  color: white;
  position: absolute;
  left: 50%;
  margin-left: 3px;
  margin-top: 40px;
  height: 3px;
  background-color: white;
  animation-name: line-shrimp;
    animation-duration: 3s;
}
@keyframes line-shrimp {
    0% {width: 30%;}
    40% {width: 30%;}
    70% {width: 0%;}
}

.arrow-left.icon:before {
  content: '';
  position: absolute;
  left: 1px;
  top: -10px;
  width: 20px;
  height: 20px;
  border-top: solid 3px currentColor;
  border-right: solid 3px currentColor;
  animation-name: arrow-rotate;
    animation-duration: 3s;
}
@keyframes arrow-rotate {
    0% {-webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);}
    68% {-webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);}
    80% {-webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);}
}
@media (max-width: 767px) {
    .hidden-xs {
        display: none;
    }
}
#fullScreen {
   z-index: 999;
    bottom: 15px;
    left: 15px;
    position: absolute;
}