.button {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.185);
}

@media screen and (min-width: 700px) {
    .block-hero-3 {
        padding: 0;
    }
}
.block-hero-3 {
        padding: 0;
}
.block-hero-3 iframe {
    width: 100%;
    height: 500px;
    border: 0;
}
